/console-tools/nbproject/private/
/console-tools/build/
/TestEnterpriseApplication/nbproject/private/
/TestEnterpriseApplication/TestEnterpriseApplication-war/nbproject/private/
/TestEnterpriseApplication/TestEnterpriseApplication-ejb/nbproject/private/
/TestEnterpriseApplication/TestEnterpriseApplication-ejb/dist/
/TestEnterpriseApplication/TestEnterpriseApplication-ejb/build/
/TestEnterpriseApplication/TestEnterpriseApplication-war/build/
/TestWebService/target/
/test-web/target/
/mavenproject1/target/
/src/prof/soap-ws/target/
/src/prof/soap-ws-java-client/target/
/src/prof/rest-ws/rest-ws/target/
/src/prof/rest-ws-java-client/target/
/src/prof/rest-ws-java-client2/target/
/src/prof/rest-ws-java-client3/target/
/src/prof/HelloWorldRestWebService/nbproject/private/
/src/rest-web-service-client4/target/
/src/mavenproject2/mavenproject2-ejb/target/
/src/mavenproject2/mavenproject2-web/target/
/src/mavenproject2/mavenproject2-ear/target/
/src/rest-ws-java-client4/target/
/src/mavenproject3/target/
/src/rest-ws-java-client/target/
/src/rest-ws-soap/mavenproject2-ear/target/
/src/rest-ws-soap/mavenproject2-ejb/target/
/src/rest-ws-soap/mavenproject2-web/target/
/src/rest-ws-soap/rest-ws-soap-ear/target/
/src/rest-ws-soap/rest-ws-soap-ejb/target/
/src/rest-ws-soap/rest-ws-soap-web/target/
/src/prof/rest-ws-soap/rest-ws-soap-ear/target/
/src/prof/rest-ws-soap/rest-ws-soap-ejb/target/
/src/prof/rest-ws-soap/rest-ws-soap-web/target/
/src/prof/rest-ws-soap/rest-ws-web/target/
/src/prof/rest-ws-soap/rest-ws-ejb/target/
/src/prof/rest-ws-soap/rest-ws-ear/target/
/src/prof/rest-ws/rest-ws-ear/target/
/src/prof/rest-ws/rest-ws-ejb/target/
/src/prof/rest-ws/rest-ws-web/target/
/src/HTML5Sensors/nbproject/private/
/src/prof/HTML5Sensors/nbproject/private/
/src/prof/HTML5-rest-client/nbproject/private/
/src/HTML5-rest-ws-client/nbproject/private/
/src/dao-test/dao/target/
/src/tcontrol/nbproject/private/
/src/tcontrol/tcontrol-war/nbproject/private/
/src/tcontrol/tcontrol-ejb/target/
/src/tcontrol/tcontrol-web/target/
/src/tcontrol/tcontrol-ear/target/
/src/tcontrol/tcontrol-web/tmp/
/src/WebApplication1/nbproject/private/
/src/WebApplication1/build/
/src/WebApplication1/dist/
/src/mavenproject1/target/