<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="MyApp" packages="">
    <Appenders>
        <File name="MyFile" fileName="c:/work/async.log">
            <PatternLayout>
                <Pattern>[%d] [%p] [%t] [%c{1.}] %m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="MyFile"/>
        </Root>
    </Loggers>
</Configuration>