/* 
    Created on : Aug 20, 2014, 8:37:18 PM
    Author     : alexey
*/

.sensor_pane{float: left}

.sensor_items{
    margin-top: 20px;
}

.sensor_item{
    display:none;
    float: left;
    margin :20px 20px 20px 20px;
}

.sensor_items .sensor_item .sensor_item_body {
    width:115px; height:115px; 
    margin:0 auto 0px auto; 
    text-align:center; 
    border-radius: 20px; 
    border: 2px solid;
    border-color: darkgrey;
    float: left;
    line-height: 95px; /*height - 1.5gradient.height - 2 border*/
}

.sensor_indicator_panel{
    height: 30px;
    justify-content: space-around;
    display: flex;
}

.sensor-loader {
    z-index: 9999;
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #444444;
    width: 16px;
    height: 16px;
    margin-left: 2px;
    animation: spin 1s linear infinite;
    visibility: hidden;
}

.sensor_item_body .sensor_gradient{
    text-align:right;
    font:normal 10px/10px Arial; 
    color:red;
    width: 2em;
    margin-right: 10px;
    margin-top: 2px;
}

.sensor_item_body .sensor_time{
    text-align:center;
    font:normal 10px/10px Arial;
    color:blue;
    width: 4em;
    margin-left: 10px;
    margin-top: 2px;
}

.sensor_item_body .sensor_value{
    text-align:center;
    font:normal 32px/32px Arial;
    color:black;
    margin: 16px 0 0 0;
}

.sensor_item .sensor_caption {
    text-align:center;
    font:normal 16px/16px Arial; 
    color:black; 
    height:25px;
    margin:0 0 0 0;
}

