/* 
    Created on : Aug 12, 2014, 7:27:18 PM
    Author     : alexey
*/

.page_body {background-color:lightgray;  }

.logo {height:32px;color: darkgrey; 
            font:normal 16px/16px Verdana; text-align: center;}

.sensor_item{
    display:none;
    float: left;
    margin :0px 43px 70px 10px; 
}

.sensor_items .sensor_item .sensor_item_body {
    width:115px; height:115px; 
    margin:0 auto 0px auto; 
    text-align:center; 
    border-radius: 20px; 
    border: 2px solid;
    border-color: darkgrey;
    line-height: 95px; /*height - 1.5gradient.height - 2 border*/
}

.sensor_item_body .sensor_gradient{
    text-align:right;
    font:normal 12px/12px Arial; 
    color:red;
}

.sensor_item_body .sensor_value{
    text-align:center;
    font:normal 32px/32px Arial;
    color:black;
    margin: 32px 0 0 0;
}
.sensor_item .sensor_caption {
    text-align:center;
    font:normal 16px/16px Arial; 
    color:black; 
    height:25px;
    margin:0 0 -5px 0;
}