/* 
    Created on : Aug 10, 2025, 8:27:18 PM
    Author     : alexey
*/

.thermostat-table-row{
    visibility: visible;
    display: none;
}

.start-heating-input{
    font:bold 16px/16px Arial;
    padding-block: 5px;
    border-radius: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 3em;
}




