/* 
    Created on : Aug 10, 2025, 8:27:18 PM
    Author     : alexey
*/

#start-heating {
    /* modal dialog styling */
    border: 1px solid #ccc;
    padding: 20px;
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    width: max-content;
    transform: translate(-50%, -50%);
    z-index: 1000;
    border-radius: 20px;
    margin-left: 0px;
    margin-top: -25px;
    background-color: lightgray;
    font:normal 16px/16px Arial;
    visibility: hidden;
    display: block;
}

.dialog-button{
    font:normal 16px/16px Arial;
    padding-block: 5px;
    border-radius: 10px;
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
}

.thermostat-table-row{
    visibility: visible;
    display: none;
}

.start-heating-input{
    font:bold 16px/16px Arial;
    padding-block: 5px;
    border-radius: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 3em;
}

.dialog-title{
    text-align: center;
    margin-bottom: 5px;
    font:bold 16px/16px Arial;
}

#start-heating::backdrop {
    /* Darken the background when modal is open */
    background-color: rgba(0, 0, 0, 0.5);
}

.pop-up{
    visibility: hidden;
    display: block;
}

#button {
     line-height: 12px;
     width: 18px;
     font-size: 8pt;
     font-family: tahoma;
     margin-top: 1px;
     margin-right: 2px;
     position:absolute;
     top:0;
     right:0;
 }
.close-button {
  line-height: 12px;
  width: 18px;
  font-size: 8pt;
  font-family: tahoma;
  margin-top: 1px;
  margin-right: 2px;
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  top:0;
  right:0;
}
.close-button:hover {
  opacity: 1;
}
.close-button:before, .close-button:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close-button:before {
  transform: rotate(45deg);
}
.close-button:after {
  transform: rotate(-45deg);
}
